/* -------------------- TAILWIND -------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- RESET -------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------- GLOBAL STYLES -------------------- */
iframe {
  width: 100%;
}

/* -------------------- MEDIA QUERIES -------------------- */
